{#% extends "FOSUserBundle::layout.html.twig" %#}

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}

{% block body %}
    Nom d'utilisateur : {{ app.user.username }}<br />
    Adresse e-mail : {{ app.user.email }}<br />
    <a href="{{ path('fos_user_profile_edit') }}">Editer</a>
{% endblock %}
